body {
    width: 900px;
    margin-left: auto;
    margin-right: auto;
}

img {
    float: right;
    max-width: 300px;
    border-radius: 0.25in;
    margin-top: -100px;
}

li {
    margin-left: 50px;
}

h1 {
    font-size: 4em;
    font-family: Brush Script MT;
    margin-left: -200px;
}

header,
footer {
    font-family: Georgia, serif;
    background-color: olivedrab;
    color: white;
    text-align: center;
    padding: 8px;
    border-radius: 0.25in;
}

main {
    padding: 50px;
    font-size: 1.25em;
}