body {
    max-width: 900px;
    margin-left: auto;
    margin-right: auto;
}

img {
    width: 200px;
}

h1 {
    font-size: 3em;
    font-family: 'Alex Brush', cursive;
    margin: 0.15rem;
}

header,
footer {
    font-family: Georgia, serif;
    background-color: olivedrab;
    color: white;
    text-align: center;
    padding: 8px;
}

main {
    padding: 50px;
    font-size: 1.25em;
}