h1, h4, strong {
    font-family: 'Viaoda Libre', cursive;
    font-size: larger;
}
body {
    max-width: 800px;
    margin: auto auto;
    background-color: #b8dab7;
}
main {
    background-color: white;
    padding: 25px;
}
a {
    color: #568259;
}
p {
    text-align: center;
    font-size: large;
    padding: 20px;
}
div {
    margin: auto auto;
}
video {
    margin-left: 110px;
    margin-bottom: 30px;
}
li {
    font-size: large;
}
h1 {
    text-align: center;
    font-size: 3em;
    padding: 25px;
}
footer {
    padding: 20px;
    text-align: center;
    font-size: medium;
    margin-top: 20px;
}